@charset="utf-8";



	   body{
			background-color: lightgrey;
			font-family: sans-serif;
			font-size: 20px;
		}
		h1{
			color: darkblue;
		}
		h2{
			color: red;
		}
		p{
			text-align: justify;
		}
