@charset "UTF-8";

/*all medias*/

/*Typical Device Breakpoints

Smoll screen: until 600px
Cell phone: 600px until 768px
tablet: 768px until 992px
Desktop: 992px until 1200px
Big screen: above 1200px
*/

@media printer{

}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
     
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#pc{display: block;}
}
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}

}

