*{
	margin: 0;
	padding: 0;
	border: 0;
}




header{
	background-color: black;
	padding: 50px;
	text-align: center;
}
header > h1{
	
	font-weight: bold;
	font-size: 4em;
	color: white;
	font-variant: small-caps;

}
header p{
	color: white;
}
a{
	color: white;
	text-decoration: none;
	font-weight: bolder;
}
a:hover{
	text-decoration: underline;
}

section{
	padding-top: 10vh;
	padding-bottom: 10vh;
	line-height: 2.5em;
	padding-left: 30px;
}

 section p{
	font-style: italic;
	font-family: 'Sriracha', cursive;
	font-size: 1.5em;



}
.foto1{

	 background-color: darkgreen;
	 background-position: center center;
	 background-image: url(../imagens/background001.jpg);
	 background-size: cover;
	 background-attachment: fixed;
	
}
.foto2{

	 background-color: white;
	 background-position: center center;
	 background-image: url(../imagens/background002.jpg);
	 background-size: cover;
	 background-attachment: fixed;
	
}

.foto1 > p,.foto2 > p{

	color: white;
	background-color: rgb(0, 0, 0,0.51);
	width: 400px;

}
footer{
	background-color: black;
	text-align: center;
	color: white;
	padding: 10px;
}
