@charset "UTF-8";

/*Style for printer*/

*{
    margin: 10px;
    padding: 10px;
}

html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1em;
}
article::after{
content:"This article was printed from the website www.cursoemvideo.com";
}
menu{
    display: none;
}
article{
    width: 100%;
}